@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'proximanova-regular';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/fonts/proximanova-regular-webfont.woff2') format('woff2'), url('../fonts/proximanova-regular-webfont.woff') format('woff'), url('../fonts/proximanova-regular-webfont.ttf') format('truetype'), url('../fonts/proximanova-regular-webfont.svg') format('svg'), url('../fonts/proximanova-regular-webfont.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima-nova-bold';
    src: url('../fonts/proxima-nova-bold.eot');
    src: url('../fonts/proxima-nova-bold.woff2') format('woff2'), url('../fonts/proxima-nova-bold.woff') format('woff'), url('../fonts/proxima-nova-bold.ttf') format('truetype'), url('../fonts/proxima-nova-bold.svg') format('svg'), url('../fonts/proxima-nova-bold.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    /*height: 100%;*/
    font-family: 'proximanova-regular';
    /*background-color: #1d2834;*/
    background-image: url(../images/bg.png)
}

ul, li {
    list-style: none;
}

a:hover {
    text-decoration: none;
}

.card{
    background-color: #1d2834;
    /*height:100%;*/
}

.log_right {
    background-image: url("../images/log_right.png");
    /*background-image: url("../images/security_bg.png");*/
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.log_left {
    padding: 80px 100px;
}

.log_box {
    margin: 20px 0px;
    margin-top: 5%;
    border: 1px solid #ebeced;
    padding: 20px 40px;
    background-color: #ffff;
}

    .log_box label {
        color: #333;
        font-size: 15px;
        font-weight: normal;
        padding: 10px 0px 5px 0px;
        margin: 0px;
        width: 100%;
    }

    .log_box input[type=text], select {
        width: 100%;
        border: 1px solid #ebeced;
        padding: 5px;
        color: #333;
    }

    .log_box input[type=password] {
        width: 100%;
        border: 1px solid #ebeced;
        padding: 5px;
        color: #333;
    }

.sign_btn {
    background-color: #FF9900;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    border: none;
    width: 100%;
    padding: 5px 0px;
    margin: 40px 0px 10px 0px;
}

.pwd {
    float: right;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.s_up {
    font-size: 15px;
    color: #1d2934;
    padding: 0px;
    margin: 0px;
}

.fl_r {
    float: right;
}

@media (max-width:990px) {
    .log_right {
        display: none;
    }
}

@media (max-width:600px) {
    .pwd {
        float: left;
        padding: 10px 0px;
    }

    .fl_r {
        float: left;
        margin-top: -10px;
    }
}

.s_top {
    padding: 20px 100px;
}

.header {
    background-color: #1d2834;
    padding: 20px 5px;
}

.header-right {
    float: right;
}

.bg-light {
    background-color: #232F3E;
    padding-left: 0px;
}

.nav-item a, li {
    padding: 10px 20px 10px 5px;
    color: #ffff;
    font-size: 1.875rem;
}

.navbar-nav li.active {
    border-bottom: 2px solid #FF9900;
}

.sidebar {
    width: 250px;
    padding: 170px 10px 10px 10px;
    background: #1d2834;
    position: fixed;
    overflow-x: hidden;
    top: 0px;
    left: 0;
    bottom: 0;
    height: 100%;
    z-index: -2;
    color: rgb(255, 255, 255);
}

    .sidebar li {
        padding: 20px 0px 10px 0px;
    }

    .sidebar a {
        color: rgb(255, 255, 255);  
    }

.side_l a.active {
    color: #FF9900;
    font-family: 'proxima-nova-bold';
}

.wrapper_r {
    position: absolute;
    top: 150px;
    left: 250px;
    right: 0;
    bottom: 0;
    width: 83%;
    overflow-y: auto;
    z-index: -1;
    background-color: #EAEDF2;
}

.wrapper_r_new {
    position: absolute;
    top: 150px;
    left: 250px;
    right: 0;
    bottom: 0;
    width: 83%;
    overflow-y: auto;
    z-index: -1;
    background-color: #ffff;
}

    .wrapper_r h1 {
        font-size: 3rem;
        font-weight: 700;
        color: #1d2834;
        padding: 10px;
        float: left;
        /*	margin-left: -15px;*/
    }

.wrap_btn {
    background-color: #FF9900;
    border: none;
    border-radius: 20px;
    color: #1d2834;
    padding: 5px 5px;
    width: 150px;
    float: right;
    margin-top: 40px;
}

.table-head-rows{
    font-size: 3rem;
}

.table-body-rows{
    background-color: #ffff;
    font-size: 1.5rem;
    color: #111111;
}

.tab_box {
    margin: 20px 0px;
    padding: 20px 20px 20px 20px;
    color: rgb(88, 88, 88);
}

    .tab_box thead {
        background-color: #fafafa;
        color: #1d2834;
        font-size: large;
        /*	border: 1px solid #f1f1f2;*/
    }

.tab_bg {
    background-color: #fafafa;
    margin: 0px;
    padding: 20px;
    width: 100%;
    height: 320px;
}

.header-right p {
    color: #fff;
    padding: 0px;
    margin-top: -20px;
    margin-right: -20px;
}

/*.navbar-nav > li > .dropdown-menu {
    margin-top: -25px;
    padding: 5px;
}*/

.dropdown-menu {
    margin-left: -50px;
    margin-top: -40px;
}

.tab_bg input[type=text] {
    width: 40%;
    border: 1px solid #ebeced;
    padding: 5px;
    color: #333;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: #f7f7f7; */
    color: white;
    text-align: center;
    z-index: 0;
    padding: 10px 0px;
    /*border-top: 1px solid #dadbdb;*/
    height: 50px;
}

.next_btn {
    background-color: #1d2834;
    color: #fff;
    border: none;
    width: 150px;
    padding: 7px 0px;
    float: right;
    margin-right: 20px;
}

.prev_btn {
    background-color: #1d2834;
    color: #fff;
    border: none;
    width: 150px;
    padding: 7px 0px;
    float: left;
    margin-left: 270px;
    margin-right: 20px;
}

.w_100 {
    width: 100%;
}

.tab_search input[type=text] {
    width: 100%;
    border: 1px solid #ebeced;
    padding: 5px;
    color: #333;
}

.s_btn {
    border: 1px solid #03045E;
    background-color: #fff;
    color: #333;
    padding: 3px 20px;
}
/*toggle*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        left: 4px;
        bottom: 4px;
        background-color: #03045E;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #fff;
    border: 1px solid #ccc;
    height: 25px;
    width: 50px;
}

input:focus + .slider {
    box-shadow: 0 0 1px #f5f5f5;
    height: 25px;
    width: 50px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
    height: 25px;
    width: 50px;
}

    .slider.round:before {
        border-radius: 50%;
    }
/*toggle*/
.p_20 {
    padding-left: 20px;
}

.t_scoll {
    margin-top: -40px;
}

.accordion {
    background-color: #fff;
}

.card {
    border: 1px solid #ebeced;
    background-color: #fff;
}

.mb-0 {
    color: #333;
    font-size: 16px;
    margin: 0px;
}

.card-header {
    background-color: #f3f3f2;
    margin: 0px;
    padding: 0px;
}

.card-body h2 {
    font-size: 15px;
    font-weight: bold;
}

.card-body p {
    /*	padding: 0px 15px 0px 0px;*/
    /*	margin-left: 15px;*/
}

.p_txt {
    text-align: left;
    width: 100%;
}

    .p_txt a {
        color: #000;
    }

.btn-link {
    color: #1a2c5e;
    font-weight: 500;
}

.card-body {
    padding: 10px 15px;
}

    .card-body h3 {
        font-size: 16px;
        margin: 0px;
        padding: 5px 0px;
    }

     ul, .tree {
        list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    .tree {
        margin: 0;
        padding: 0 0 0 45px;
    }

        /* Style the caret/arrow */
        .tree .caret1 {
            cursor: pointer;
            user-select: none; /* Prevent text selection */
        }

    /* Create the caret/arrow with a unicode, and style it */
    .caret1::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
        transform:rotate(90deg);
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .tree .caret-down::before {
        transform: rotate(0deg);
    }

    /* Hide the nested list */
    .tree .nested {
        display: block;
        padding-left: 30px;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .tree .active {
        display: none;
    }

.update-btn {
    background-color: #1d2834;
}